UPCB/upcb.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="upcb"
 targetNamespace="urn:copy/upcb.wsdl"
 xmlns:tns="urn:copy/upcb.wsdl"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ns="urn:copy"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:copy"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="urn:copy"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>
  <complexType name="SoapBaseObject"><!-- SoapBaseObject -->

   <sequence>
   </sequence>
  </complexType>
  <complexType name="ArrayOfSoapBaseObject">
   <complexContent>
    <restriction base="SOAP-ENC:Array">
     <sequence>
      <element name="item" type="ns:SoapBaseObject" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
     </sequence>
     <attribute ref="SOAP-ENC:arrayType" WSDL:arrayType="ns:SoapBaseObject[]"/>
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="SoapPropertyDescriptor"><!-- SoapPropertyDescriptor -->

   <complexContent>
    <extension base="SoapBaseObject">
     <sequence>
     <element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- SoapPropertyDescriptor::Name -->
     <element name="DataType" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- SoapPropertyDescriptor::DataType -->
     <element name="Value" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- SoapPropertyDescriptor::Value -->
     </sequence>
    </extension>
   </complexContent>
  </complexType>
  <complexType name="SoapConnectionPointDescriptor"><!-- SoapConnectionPointDescriptor -->

   <complexContent>
    <extension base="SoapBaseObject">
     <sequence>
     <element name="Properties" type="ns:ArrayOfSoapBaseObject" minOccurs="1" maxOccurs="1" nillable="true"/><!-- SoapConnectionPointDescriptor::Properties -->
     </sequence>
    </extension>
   </complexContent>
  </complexType>
  <complexType name="SoapCommandParameterDescriptor"><!-- SoapCommandParameterDescriptor -->

   <complexContent>
    <extension base="SoapBaseObject">
     <sequence>
     <element name="Properties" type="ns:ArrayOfSoapBaseObject" minOccurs="1" maxOccurs="1" nillable="true"/><!-- SoapCommandParameterDescriptor::Properties -->
     </sequence>
    </extension>
   </complexContent>
  </complexType>
  <complexType name="SoapCommandDescriptor"><!-- SoapCommandDescriptor -->

   <complexContent>
    <extension base="SoapBaseObject">
     <sequence>
     <element name="Properties" type="ns:ArrayOfSoapBaseObject" minOccurs="1" maxOccurs="1" nillable="true"/><!-- SoapCommandDescriptor::Properties -->
     <element name="CommandParameters" type="ns:ArrayOfSoapBaseObject" minOccurs="1" maxOccurs="1" nillable="true"/><!-- SoapCommandDescriptor::CommandParameters -->
     </sequence>
    </extension>
   </complexContent>
  </complexType>
  <complexType name="SoapEventDescriptor"><!-- SoapEventDescriptor -->

   <complexContent>
    <extension base="SoapBaseObject">
     <sequence>
     <element name="Properties" type="ns:ArrayOfSoapBaseObject" minOccurs="1" maxOccurs="1" nillable="true"/><!-- SoapEventDescriptor::Properties -->
     <element name="EventParameters" type="ns:ArrayOfSoapBaseObject" minOccurs="1" maxOccurs="1" nillable="true"/><!-- SoapEventDescriptor::EventParameters -->
     </sequence>
    </extension>
   </complexContent>
  </complexType>
  <complexType name="SoapPinoutDescriptor"><!-- SoapPinoutDescriptor -->

   <complexContent>
    <extension base="SoapBaseObject">
     <sequence>
     <element name="Properties" type="ns:ArrayOfSoapBaseObject" minOccurs="1" maxOccurs="1" nillable="true"/><!-- SoapPinoutDescriptor::Properties -->
     <element name="SupportedCommands" type="ns:ArrayOfSoapBaseObject" minOccurs="1" maxOccurs="1" nillable="true"/><!-- SoapPinoutDescriptor::SupportedCommands -->
     <element name="SupportedEvents" type="ns:ArrayOfSoapBaseObject" minOccurs="1" maxOccurs="1" nillable="true"/><!-- SoapPinoutDescriptor::SupportedEvents -->
     </sequence>
    </extension>
   </complexContent>
  </complexType>
  <complexType name="SoapDeviceDescriptor"><!-- SoapDeviceDescriptor -->

   <complexContent>
    <extension base="SoapBaseObject">
     <sequence>
     <element name="Properties" type="ns:ArrayOfSoapBaseObject" minOccurs="1" maxOccurs="1" nillable="true"/><!-- SoapDeviceDescriptor::Properties -->
     <element name="DeviceConnectionPoints" type="ns:ArrayOfSoapBaseObject" minOccurs="1" maxOccurs="1" nillable="true"/><!-- SoapDeviceDescriptor::DeviceConnectionPoints -->
     <element name="Pinouts" type="ns:ArrayOfSoapBaseObject" minOccurs="1" maxOccurs="1" nillable="true"/><!-- SoapDeviceDescriptor::Pinouts -->
     </sequence>
    </extension>
   </complexContent>
  </complexType>
  <complexType name="SoapDriverDescriptor"><!-- SoapDriverDescriptor -->

   <complexContent>
    <extension base="SoapBaseObject">
     <sequence>
     <element name="Properties" type="ns:ArrayOfSoapBaseObject" minOccurs="1" maxOccurs="1" nillable="true"/><!-- SoapDriverDescriptor::Properties -->
     <element name="SupportedCommands" type="ns:ArrayOfSoapBaseObject" minOccurs="1" maxOccurs="1" nillable="true"/><!-- SoapDriverDescriptor::SupportedCommands -->
     <element name="SupportedEvents" type="ns:ArrayOfSoapBaseObject" minOccurs="1" maxOccurs="1" nillable="true"/><!-- SoapDriverDescriptor::SupportedEvents -->
     </sequence>
    </extension>
   </complexContent>
  </complexType>
  <complexType name="SoapWireConnectionPointDescr"><!-- SoapWireConnectionPointDescr -->

   <complexContent>
    <extension base="SoapBaseObject">
     <sequence>
     <element name="DeviceDescriptorId" type="ns:SoapPropertyDescriptor" minOccurs="1" maxOccurs="1"/><!-- SoapWireConnectionPointDescr::DeviceDescriptorId -->
     <element name="ConnectionPointDescriptorId" type="ns:SoapPropertyDescriptor" minOccurs="1" maxOccurs="1"/><!-- SoapWireConnectionPointDescr::ConnectionPointDescriptorId -->
     </sequence>
    </extension>
   </complexContent>
  </complexType>
  <complexType name="SoapWireDescriptor"><!-- SoapWireDescriptor -->

   <complexContent>
    <extension base="SoapBaseObject">
     <sequence>
     <element name="Properties" type="ns:ArrayOfSoapBaseObject" minOccurs="1" maxOccurs="1" nillable="true"/><!-- SoapWireDescriptor::Properties -->
     <element name="WireConnectionPoints" type="ns:ArrayOfSoapBaseObject" minOccurs="1" maxOccurs="1" nillable="true"/><!-- SoapWireDescriptor::WireConnectionPoints -->
     </sequence>
    </extension>
   </complexContent>
  </complexType>
  <complexType name="SoapProgramDescriptor"><!-- SoapProgramDescriptor -->

   <complexContent>
    <extension base="SoapBaseObject">
     <sequence>
     <element name="Properties" type="ns:ArrayOfSoapBaseObject" minOccurs="1" maxOccurs="1" nillable="true"/><!-- SoapProgramDescriptor::Properties -->
     <element name="Devices" type="ns:ArrayOfSoapBaseObject" minOccurs="1" maxOccurs="1" nillable="true"/><!-- SoapProgramDescriptor::Devices -->
     <element name="Wires" type="ns:ArrayOfSoapBaseObject" minOccurs="1" maxOccurs="1" nillable="true"/><!-- SoapProgramDescriptor::Wires -->
     <element name="PowerWire" type="ns:SoapWireDescriptor" minOccurs="1" maxOccurs="1"/><!-- SoapProgramDescriptor::PowerWire -->
     </sequence>
    </extension>
   </complexContent>
  </complexType>
  <complexType name="SoapPinoutMappingDescriptor"><!-- SoapPinoutMappingDescriptor -->

   <complexContent>
    <extension base="SoapBaseObject">
     <sequence>
     <element name="Properties" type="ns:ArrayOfSoapBaseObject" minOccurs="1" maxOccurs="1" nillable="true"/><!-- SoapPinoutMappingDescriptor::Properties -->
     <element name="CommandMappings" type="ns:ArrayOfSoapBaseObject" minOccurs="1" maxOccurs="1" nillable="true"/><!-- SoapPinoutMappingDescriptor::CommandMappings -->
     <element name="EventMappings" type="ns:ArrayOfSoapBaseObject" minOccurs="1" maxOccurs="1" nillable="true"/><!-- SoapPinoutMappingDescriptor::EventMappings -->
     </sequence>
    </extension>
   </complexContent>
  </complexType>
  <complexType name="SoapProgramMappingDescriptor"><!-- SoapProgramMappingDescriptor -->

   <complexContent>
    <extension base="SoapBaseObject">
     <sequence>
     <element name="PinoutMappings" type="ns:ArrayOfSoapBaseObject" minOccurs="1" maxOccurs="1" nillable="true"/><!-- SoapProgramMappingDescriptor::PinoutMappings -->
     </sequence>
    </extension>
   </complexContent>
  </complexType>
 </schema>

</types>

<message name="AddProgramRequest">
 <part name="program" type="ns:SoapProgramDescriptor"/><!-- ns__AddProgram::program -->
 <part name="mapping" type="ns:SoapProgramMappingDescriptor"/><!-- ns__AddProgram::mapping -->
</message>

<message name="AddProgramResponse">
 <part name="result" type="xsd:int"/><!-- ns__AddProgram::result -->
</message>

<message name="StartProgramRequest">
 <part name="programName" type="xsd:string"/><!-- ns__StartProgram::programName -->
</message>

<message name="StartProgramResponse">
 <part name="result" type="xsd:int"/><!-- ns__StartProgram::result -->
</message>

<message name="StopProgramRequest">
 <part name="programName" type="xsd:string"/><!-- ns__StopProgram::programName -->
</message>

<message name="StopProgramResponse">
 <part name="result" type="xsd:int"/><!-- ns__StopProgram::result -->
</message>

<message name="GetDevicesRequest">
</message>

<message name="GetDevicesResponse">
 <part name="devices" type="ns:ArrayOfSoapBaseObject"/><!-- ns__GetDevices::devices -->
</message>

<message name="GetDriversRequest">
</message>

<message name="GetDriversResponse">
 <part name="drivers" type="ns:ArrayOfSoapBaseObject"/><!-- ns__GetDrivers::drivers -->
</message>

<message name="GetProgramsRequest">
</message>

<message name="GetProgramsResponse">
 <part name="programs" type="ns:ArrayOfSoapBaseObject"/><!-- ns__GetPrograms::programs -->
</message>

<message name="DebugSoapRequest">
 <part name="descriptors" type="ns:ArrayOfSoapBaseObject"/><!-- ns__DebugSoap::descriptors -->
 <part name="pd" type="ns:SoapPropertyDescriptor"/><!-- ns__DebugSoap::pd -->
 <part name="cpd" type="ns:SoapConnectionPointDescriptor"/><!-- ns__DebugSoap::cpd -->
 <part name="dd" type="ns:SoapDeviceDescriptor"/><!-- ns__DebugSoap::dd -->
 <part name="wcp" type="ns:SoapWireConnectionPointDescr"/><!-- ns__DebugSoap::wcp -->
 <part name="wd" type="ns:SoapWireDescriptor"/><!-- ns__DebugSoap::wd -->
 <part name="pmd" type="ns:SoapPinoutMappingDescriptor"/><!-- ns__DebugSoap::pmd -->
</message>

<message name="DebugSoapResponse">
 <part name="result" type="xsd:int"/><!-- ns__DebugSoap::result -->
</message>

<portType name="upcbPortType">
 <operation name="AddProgram">
  <documentation>Service definition of function ns__AddProgram</documentation>
  <input message="tns:AddProgramRequest"/>
  <output message="tns:AddProgramResponse"/>
 </operation>
 <operation name="StartProgram">
  <documentation>Service definition of function ns__StartProgram</documentation>
  <input message="tns:StartProgramRequest"/>
  <output message="tns:StartProgramResponse"/>
 </operation>
 <operation name="StopProgram">
  <documentation>Service definition of function ns__StopProgram</documentation>
  <input message="tns:StopProgramRequest"/>
  <output message="tns:StopProgramResponse"/>
 </operation>
 <operation name="GetDevices">
  <documentation>Service definition of function ns__GetDevices</documentation>
  <input message="tns:GetDevicesRequest"/>
  <output message="tns:GetDevicesResponse"/>
 </operation>
 <operation name="GetDrivers">
  <documentation>Service definition of function ns__GetDrivers</documentation>
  <input message="tns:GetDriversRequest"/>
  <output message="tns:GetDriversResponse"/>
 </operation>
 <operation name="GetPrograms">
  <documentation>Service definition of function ns__GetPrograms</documentation>
  <input message="tns:GetProgramsRequest"/>
  <output message="tns:GetProgramsResponse"/>
 </operation>
 <operation name="DebugSoap">
  <documentation>Service definition of function ns__DebugSoap</documentation>
  <input message="tns:DebugSoapRequest"/>
  <output message="tns:DebugSoapResponse"/>
 </operation>
</portType>

<binding name="upcb" type="tns:upcbPortType">
 <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="AddProgram">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:copy" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:copy" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="StartProgram">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:copy" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:copy" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="StopProgram">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:copy" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:copy" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="GetDevices">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:copy" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:copy" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="GetDrivers">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:copy" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:copy" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="GetPrograms">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:copy" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:copy" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="DebugSoap">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:copy" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:copy" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
</binding>

<service name="upcb">
 <documentation>gSOAP 2.8.3 generated service definition</documentation>
 <port name="upcb" binding="tns:upcb">
  <SOAP:address location="http://localhost:80"/>
 </port>
</service>

</definitions>
